<body class="login-back">
  <div class="text-center">
    <h1 >
      <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-brightness-alt-high" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M5.041 10.5h5.918a3 3 0 0 0-5.918 0zM4 11a4 4 0 1 1 8 0 .5.5 0 0 1-.5.5h-7A.5.5 0 0 1 4 11zm4-8a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 3zm8 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 11a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.414a.5.5 0 1 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zM4.464 7.464a.5.5 0 0 1-.707 0L2.343 6.05a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707z"/>
      </svg>
      日の出・日の入り
    </h1>
  </div>
  <div class="row">
    <div class="col-sm-6 offset-sm-3">
  
      <%= form_with(model: @user, local: true) do |f| %>
        <%= render 'layouts/error_messages', model: f.object %>
        
        <div class="form-group">
          <%= f.label :name, 'ユーザー名' %>
          <%= f.text_field :name , :placeholder => "ユーザー名を入力してください", class: 'form-control' %>
        </div>
  
        <div class="form-group">
          <%= f.label :email, 'メールアドレス' %>
          <%= f.email_field :email, :placeholder => "メールアドレスを入力してください", class: 'form-control' %>
        </div>
  
        <div class="form-group">
          <%= f.label :password, 'パスワード' %>
          <%= f.password_field :password, :placeholder => "パスワードを入力してください", class: 'form-control' %>
        </div>
  
        <div class="form-group">
          <%= f.label :password_confirmation, 'パスワード再入力' %>
          <%= f.password_field :password_confirmation, :placeholder => "パスワードを再入力してください", class: 'form-control' %>
        </div>
  
        <div class="form-button">
          <%= f.submit '会員登録', class: 'btn btn-primary btn-block' %>
        </div>
      <% end %>
    </div>
  </div>
</body>